# Play Wordle

In [1]:
import numpy as np
import pandas as pd
import sys
  
# setting path
sys.path.append('..')
import wordlebot

from wordlebot import Wordle

## Setup

In [2]:
wordle_candidates, wordle_answers = wordlebot.load_data('../data')
wordle = wordle_candidates.loc[
    wordle_candidates.word.apply(lambda x: len(x)==len(set(x)))
].append(wordle_answers).reset_index(drop=True)

In [ ]:
game = Wordle(wordle, wordle_answers)

In [ ]:
top_entropy = game.optimise(method='fb_entropy')

  0%|          | 0/9071 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done 150 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-2)]: Done 983030 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-2)]: Done 5079030 tasks      | elapsed:   19.5s
[Parallel(n_jobs=-2)]: Done 10813430 tasks      | elapsed:   46.9s
[Parallel(n_jobs=-2)]: Done 18186230 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-2)]: Done 20999365 out of 20999365 | elapsed:  1.9min finished

In [ ]:
t1 = top_entropy.reset_index(drop=True)

In [16]:
t1.head(20)

     word  fb_entropy
0   soare    4.079837
1   roate    4.077632
2   raise    4.074257
3   raile    4.065800
4   reast    4.065625
5   slate    4.058914
6   crate    4.044426
7   salet    4.044224
8   irate    4.042016
9   trace    4.041428
10  arise    4.034768
11  orate    4.032149
12  stare    4.025300
13  carte    4.016481
14  raine    4.011042
15  caret    4.004112
16  ariel    4.003040
17  taler    3.999884
18  carle    3.999791
19  slane    3.999585

## Play

In [10]:
def play_game(seed='stare', optimiser='fb_entropy', solution=None):
    quit_words = ['q', 'quit']
    game = Wordle(wordle, wordle_answers, solution=solution)
    guess = ''
    fb = ''
    while not game.solved and (not guess.lower() in quit_words) and fb.lower() != 'ggggg':
        if game.step == 0:
            guess = seed
        else:
            guess = input('Input a guess:')
        if guess.lower() in quit_words:
            return  
        fb = input('Input feedback:')
        if fb.lower() in quit_words:
            return
        game.guess(guess.lower(), fb.lower())
        if not game.solved:
            if game.solutions.shape[0] <= 10 and \
                game.solutions.shape[0] > 3:
                df_splitter = game.split_duplicates()
                if df_splitter is not None:
                    display(df_splitter.word)
                    continue
                
            opt_results = game.optimise(method=optimiser)
            display(opt_results.head(5))

In [ ]:
play_game()

Input feedback: gxgxg

STARE --> GXGXG: 12 solutions remaining.

  0%|          | 0/12 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done 115 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-2)]: Done 144 out of 144 | elapsed:    0.1s finished

    word  fb_entropy
3  shale    1.352209
5  shape    1.236685
6  shave    1.236685
1  shade    1.143708
2  shake    1.143708

Input a guess: shale
Input feedback: gggxg

SHALE --> GGGXG: 5 solutions remaining.

1333    dampy
3030    kempt
1657    dumka
7540    dumpy
1411    dempt
3706    mikva
1658    dumky
1332    damps
6219    vampy
6218    vamps
Name: word, dtype: object

Input a guess: dampy
Input feedback: xyxxx

DAMPY --> XYXXX: 2 solutions remaining.

  0%|          | 0/2 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done   4 out of   4 | elapsed:    0.0s finished

    word  fb_entropy
0  shake    0.693147
1  shave    0.693147

In [189]:
t1 = pd.DataFrame(
    wordle_answers.letter_d.gt(0).astype(int) + \
    wordle_answers.letter_j.gt(0).astype(int) + \
    wordle_answers.letter_h.gt(0).astype(int) + \
    wordle_answers.letter_v.gt(0).astype(int))

In [190]:
t1.insert(0, 'word', wordle_answers.word)

In [191]:
t1.sort_values(0, ascending=False).head(10)

       word  0
2314  shave  2
935   shied  2
657   shade  2
905   diver  2
499   howdy  2
1065  rajah  2
501   valid  2
339   delve  2
1843  heard  2
641   handy  2