# Play Wordle

In [1]:
import numpy as np
import pandas as pd
import sys
  
# setting path
sys.path.append('..')
import wordlebot

from wordlebot import Wordle

## Setup

In [2]:
wordle_candidates, wordle_answers = wordlebot.load_data('../data')
wordle = wordle_candidates.loc[
    wordle_candidates.word.apply(lambda x: len(x)==len(set(x)))
].append(wordle_answers).reset_index(drop=True)

## Play

In [39]:
game = Wordle(wordle, wordle_answers)
game.guess('soare', 'xxxyx')
game.optimise(method='fb_entropy')

SOARE --> XXXYX: 57 solutions remaining.

  0%|          | 0/8821 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done 150 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-2)]: Done 482101 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-2)]: Done 502797 out of 502797 | elapsed:    2.2s finished

       word  fb_entropy
3114  glint    3.227161
3333  guilt    3.208488
8012  tying    3.172755
1417  clint    3.161060
1962  dicty    3.142701
...     ...         ...
6770  sever    0.239693
6653  savor    0.239693
8436  wears    0.206192
8429  waxes    0.206192
7075  soave    0.152005

[8821 rows x 2 columns]

In [40]:
game.guess('glint', 'yxxgx')
game.optimise(method='fb_entropy')

GLINT --> YXXGX: 1 solutions remaining.
Game autosolved. Last guess: WRUNG
Game solved in 3 steps.

    word feedback  n_candidates
0  soare    XXXYX            57
1  glint    YXXGX             1
2  wrung    GGGGG             1

Game already solved.

In [33]:
game.guess('scarf', 'gxggx')
game.optimise(method='fb_entropy')

SCARF --> GXGGX: 4 solutions remaining.

  0%|          | 0/4 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done  16 out of  16 | elapsed:    0.1s finished

    word  fb_entropy
0  shard    1.039721
1  sharp    1.039721
2  snarl    0.562335
3  swarm    0.562335

In [11]:
game.optimisations['fb_entropy'].head(20)

       word  fb_entropy
7253  soare    4.079837
6587  roate    4.077632
6330  raise    4.074257
6325  raile    4.065800
6412  reast    4.065625
7153  slate    4.058914
1682  crate    4.044426
6758  salet    4.044224
3885  irate    4.042016
8043  trace    4.041428
310   arise    4.034768
5524  orate    4.032149
7448  stare    4.025300
1226  carte    4.016481
6327  raine    4.011042
1210  caret    4.004112
307   ariel    4.003040
7703  taler    3.999884
1214  carle    3.999791
7147  slane    3.999585