# Play Wordle

In [1]:
import numpy as np
import pandas as pd
import sys
  
# setting path
sys.path.append('..')
import wordlebot

from wordlebot import Wordle

## Setup

In [2]:
wordle_candidates, wordle_answers = wordlebot.load_data('../data')
wordle = wordle_candidates.loc[
    wordle_candidates.word.apply(lambda x: len(x)==len(set(x)))
].append(wordle_answers).reset_index(drop=True)

## Play

In [3]:
def play_game(seed='stare', optimiser='fb_entropy', solution=None):
    quit_words = ['q', 'quit']
    game = Wordle(wordle, wordle_answers, solution=solution)
    guess = ''
    fb = ''
    while not game.solved and (not guess.lower() in quit_words) and fb.lower() != 'ggggg':
        if game.step == 0:
            guess = seed
        else:
            guess = input('Input a guess:')
        if guess.lower() in quit_words:
            return  
        fb = input('Input feedback:')
        if fb.lower() in quit_words:
            return
        game.guess(guess.lower(), fb.lower())
        if not game.solved:
            if game.solutions.shape[0] <= 10 and \
                game.solutions.shape[0] > 3:
                df_splitter = game.split_duplicates()
                if df_splitter is not None:
                    game.guess(df_splitter.word.iloc[0])
                    continue
                
            opt_results = game.optimise(method=optimiser)
            display(opt_results.head(5))

In [4]:
play_game(solution='vaunt')

Input feedback: x

STARE --> XYYXX: 74 solutions remaining.

  0%|          | 0/9008 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done  65 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-2)]: Done 591845 tasks      | elapsed:    2.9s
[Parallel(n_jobs=-2)]: Done 666592 out of 666592 | elapsed:    2.9s finished

       word  fb_entropy
1544  colin    2.979591
5285  nicol    2.922847
5329  noily    2.908640
7804  thiol    2.895418
771   bliny    2.891450

Input a guess: colin
Input feedback: x

COLIN --> XXXXY: 10 solutions remaining.

  0%|          | 0/10 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done  80 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-2)]: Done 100 out of 100 | elapsed:    0.1s finished

    word  fb_entropy
6  tangy    1.748067
5  junta    1.497866
8  tawny    1.497866
4  jaunt    1.497866
7  taunt    1.359237

Input a guess: tangy
Input feedback: x

TANGY --> YGYXX: 4 solutions remaining.
JIHAD --> XXXYX: 1 solutions remaining.
Game autosolved. Last guess: VAUNT
Game solved in 5 steps.

    word feedback  n_candidates
0  stare    XYYXX            74
1  colin    XXXXY            10
2  tangy    YGYXX             4
3  jihad    XXXYX             1
4  vaunt    GGGGG             1

In [189]:
t1 = pd.DataFrame(
    wordle_answers.letter_d.gt(0).astype(int) + \
    wordle_answers.letter_j.gt(0).astype(int) + \
    wordle_answers.letter_h.gt(0).astype(int) + \
    wordle_answers.letter_v.gt(0).astype(int))

In [190]:
t1.insert(0, 'word', wordle_answers.word)

In [191]:
t1.sort_values(0, ascending=False).head(10)

       word  0
2314  shave  2
935   shied  2
657   shade  2
905   diver  2
499   howdy  2
1065  rajah  2
501   valid  2
339   delve  2
1843  heard  2
641   handy  2