# Play Wordle

In [1]:
import numpy as np
import pandas as pd
import sys
  
# setting path
sys.path.append('..')
import wordlebot

from wordlebot import Wordle

## Setup

In [2]:
wordle_candidates, wordle_answers = wordlebot.load_data('../data')
wordle = wordle_candidates.loc[
    wordle_candidates.word.apply(lambda x: len(x)==len(set(x)))
].append(wordle_answers).reset_index(drop=True)

## Play

In [3]:
game = Wordle(wordle, wordle_answers)

In [4]:
game.optimise(method='fb_entropy')

  0%|          | 0/9071 [00:00<?, ?it/s]

[Parallel(n_jobs=-2)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=-2)]: Done  71 tasks      | elapsed:    0.8s
[Parallel(n_jobs=-2)]: Done 737285 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-2)]: Done 4833285 tasks      | elapsed:   20.8s
[Parallel(n_jobs=-2)]: Done 10567685 tasks      | elapsed:   50.8s
[Parallel(n_jobs=-2)]: Done 17940485 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-2)]: Done 20999365 out of 20999365 | elapsed:  2.0min finished

       word  fb_entropy
7253  soare    4.079837
6587  roate    4.077632
6330  raise    4.074257
6325  raile    4.065800
6412  reast    4.065625
...     ...         ...
3958  jiffy    1.727239
5149  mummy    1.712328
3939  jazzy    1.600530
2969  fuzzy    1.598213
4759  mamma    1.572436

[9071 rows x 2 columns]

In [11]:
game.optimisations['fb_entropy'].head(20)

       word  fb_entropy
7253  soare    4.079837
6587  roate    4.077632
6330  raise    4.074257
6325  raile    4.065800
6412  reast    4.065625
7153  slate    4.058914
1682  crate    4.044426
6758  salet    4.044224
3885  irate    4.042016
8043  trace    4.041428
310   arise    4.034768
5524  orate    4.032149
7448  stare    4.025300
1226  carte    4.016481
6327  raine    4.011042
1210  caret    4.004112
307   ariel    4.003040
7703  taler    3.999884
1214  carle    3.999791
7147  slane    3.999585