# Entropy
Entropy doesn't help.

In [81]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from joblib import Parallel, delayed

## Load Words

In [116]:
words_12k = pd.read_csv('words_12k.csv')
words_5k = pd.read_csv('words_5k.csv')
words_all = pd.read_table('data/en_words_1_5-5.txt', delimiter=' ', header=None, index_col=None,
                         names=['word_len', 'word_freq', 'n_articles']).reset_index()
words_all = words_all.rename(columns={'index': 'word'})

In [117]:
# Filter by english
alphabet = list('abcdefghijklmnopqrstuvwxyz')
words_all = words_all.loc[words_all.word.apply(lambda x: all([l in alphabet for l in x]))].reset_index(drop=True)

# At least 100
words_all = words_all.loc[words_all.word_freq.ge(100)]

## Game Logic

In [118]:
def wordle(input_word, solution):
    output = ''
    for i in range(5):
        if input_word[i] == solution[i]:
            output += 'G'
        elif input_word[i] in solution:
            output += 'Y'
        else:
            output += 'X'
    return output

In [119]:
def filter_wordset(input_word, feedback, wordset):
    newset = wordset.copy()
    for i in range(5):
        if feedback[i] == 'G':
            newset = newset.loc[newset.word.str[i] == input_word[i]]
        elif feedback[i] == 'Y':
            # newset = newset.loc[newset.word.str.contains(input_word[i])]
            newset = newset.loc[newset.word.str.contains(input_word[i]) & newset.word.apply(lambda x: x[i] != input_word[i])]
        else:
            newset = newset.loc[~newset.word.str.contains(input_word[i])]
    return newset

In [120]:
def compute_pos_letter_distribution(wordset):
    pos_scores = {}
    pos_scores[0] = wordset.word.str[0].value_counts().to_dict()
    pos_scores[1] = wordset.word.str[1].value_counts().to_dict()
    pos_scores[2] = wordset.word.str[2].value_counts().to_dict()
    pos_scores[3] = wordset.word.str[3].value_counts().to_dict()
    pos_scores[4] = wordset.word.str[4].value_counts().to_dict()
    
    return pos_scores

In [121]:
def compute_pos_score(letters, pos_scores):
    output = 0
    for i, letter in enumerate(letters):
        output += pos_scores[i][letter]
    return output

## Setup

In [123]:
pos_scores = compute_pos_letter_distribution(words_12k)
global_fl_scores = words_12k.word.apply(compute_pos_score, pos_scores=pos_scores)
global_fl_scores = pd.DataFrame({'word': words_12k.word, 'score': global_fl_scores}).sort_values('score', ascending=False)
entropy_table = pd.DataFrame(pos_scores.values()).T

In [124]:
from scipy.stats import entropy
def compute_entropy(word, total_words, entropy_table):
    output = 0
    for i, letter in enumerate(word):
        greens = entropy_table.loc[letter, i]
        yellows = np.sum(entropy_table.loc[letter, [pos for pos in range(5) if not pos == i]])
        greys = total_words - greens - yellows
    dist = np.array([greens, yellows, greys])
    dist = dist / np.sum(dist)
    return entropy(dist)

In [125]:
entropies = words_12k.word.apply(compute_entropy, total_words=words_12k.shape[0],
                                     entropy_table=pd.DataFrame(pos_scores.values()).T)

global_entropy = pd.DataFrame({'word': words_12k.word, 'score': entropies}).sort_values('score', ascending=False)

In [126]:
# Merge additional data
words_12k = words_12k.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
words_12k = words_12k.fillna(0)

words_5k = words_5k.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
words_5k = words_5k.fillna(0)

# Merge additional data
global_fl_scores = global_fl_scores.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
global_fl_scores = global_fl_scores.fillna(0)

global_entropy = global_entropy.merge(words_all[['word', 'word_freq', 'n_articles']], how='left', left_on='word', right_on='word')
global_entropy = global_entropy.fillna(0)

In [127]:
global_scores = global_fl_scores.merge(global_entropy[['word', 'score']] \
                                       .rename(columns={'score': 'entropy'}),
                                      how='left', on='word')

In [128]:
global_scores.sort_values(['entropy', 'score'], ascending=False).head(30)

     word  score  word_freq  n_articles   entropy
0   sores  10749      181.0       140.0  1.040935
1   sanes  10674        0.0         0.0  1.040935
2   sales  10561    26799.0     20964.0  1.040935
3   sones  10524        0.0         0.0  1.040935
4   soles  10411      425.0       335.0  1.040935
5   sates  10340        0.0         0.0  1.040935
6   seres  10313        0.0         0.0  1.040935
7   cares  10266      708.0       573.0  1.040935
8   bares  10249        0.0         0.0  1.040935
9   sames  10238        0.0         0.0  1.040935
10  pares  10199      175.0       133.0  1.040935
11  tares  10165        0.0         0.0  1.040935
12  cores  10116     1270.0       827.0  1.040935
13  sades  10114        0.0         0.0  1.040935
14  bores  10099      213.0       181.0  1.040935
15  sages  10092      546.0       419.0  1.040935
16  sires  10075      213.0       166.0  1.040935
17  sabes  10056        0.0         0.0  1.040935
18  pores  10049      681.0       533.0  1.040935
19  mares  10044     1000.0       752.0  1.040935
20  canes  10041      343.0       261.0  1.040935
21  dares  10028      226.0       165.0  1.040935
22  banes  10024        0.0         0.0  1.040935
23  tores  10015        0.0         0.0  1.040935
24  sakes   9994        0.0         0.0  1.040935
25  rares   9988        0.0         0.0  1.040935
26  seles   9975      228.0       165.0  1.040935
27  panes   9974      261.0       205.0  1.040935
28  saves   9967     2080.0      1621.0  1.040935
29  fares   9953      846.0       602.0  1.040935

## Double-word Strategy

In [130]:
def sim_wordle_double(input_word1, input_word2, solution):
    feedback = ''
    wordset = words_5k.copy()
    tested_words = []
    n_iter = 1
    
    input_word = input_word1

    while feedback != 'GGGGG':

        # Check solution
        feedback = wordle(input_word, solution)
        tested_words.append(input_word)
        # print(f'[{n_iter}] Input: {input_word} | Feedback: {feedback}')

        # Filter wordset
        wordset = filter_wordset(input_word, feedback, wordset)
        wordset = wordset.loc[~wordset.word.isin(tested_words)]

        # Compute letter distribution of updated wordset
        pos_scores = compute_pos_letter_distribution(wordset)
        
        # Compute entropy
        entropy_table = pd.DataFrame(pos_scores.values()).T.fillna(0)
        total_words = wordset.shape[0]
        
        # Obtain scores
        scores = wordset.word.apply(compute_entropy, total_words=total_words, entropy_table=entropy_table)
        
        scores = pd.DataFrame({'word': wordset.word, 'score': scores,
                              'word_freq': wordset.word_freq,
                              'n_articles': wordset.n_articles}).sort_values('score', ascending=False)
        scores = scores.sort_values(['score', 'n_articles'], ascending=False)
        # display(scores.head(10))

        # Set new input word
        if scores.shape[0] > 0:
            if len(tested_words) < 2:
                input_word = input_word2
            else:
                input_word = scores.word.iloc[0]
            n_iter += 1
    return n_iter

In [131]:
def double_word_strategy(input_word1, input_word2):
    results = Parallel(n_jobs=5, verbose=1)(delayed(sim_wordle_double)(input_word1, input_word2, s) for s in words_5k.word)
    performance = pd.Series(results)
    
    results = pd.DataFrame(performance.describe()).T
    results['word1'] = input_word1
    results['word2'] = input_word2
    display(results)
    
    return results

    # performance.plot.hist()
    # plt.title(f'{input_word1}, {input_word2}')
    # plt.show()

In [132]:
def find_second_pos(word, two_vowel=True):
    letters = list(word)
    candidates = global_fl_scores.loc[global_fl_scores.word.apply(lambda x: all([l not in letters for l in x]))]
    candidates = candidates.loc[candidates.word.apply(lambda x: len(x) == len(set(x)))]
    if two_vowel:
        candidates = candidates.loc[
            candidates.word.apply(lambda x: x.count('a') + x.count('e') + \
                                  x.count('i') + x.count('o') + x.count('u') >= 2)
        ]
    return candidates.head(20)

In [133]:
top_singles = global_fl_scores.loc[global_fl_scores.word.apply(lambda x: len(x) == len(set(x)))].word.head(10)
global_fl_scores.loc[global_fl_scores.word.apply(lambda x: len(x) == len(set(x)))].head(10)

     word  score  word_freq  n_articles
7   cares  10266      708.0       573.0
8   bares  10249        0.0         0.0
10  pares  10199      175.0       133.0
11  tares  10165        0.0         0.0
12  cores  10116     1270.0       827.0
14  bores  10099      213.0       181.0
18  pores  10049      681.0       533.0
19  mares  10044     1000.0       752.0
20  canes  10041      343.0       261.0
21  dares  10028      226.0       165.0

In [134]:
all_results = pd.DataFrame()
for input_word1 in top_singles:
    print('--------------------')
    print(input_word1)
    print('--------------------')
    all_word2 = find_second_pos(input_word1)
    print(all_word2.word.iloc[:5].tolist())

    for input_word2 in all_word2.word.iloc[:5]:
        print(f'[---- {input_word1}, {input_word2} ----]')
        res = double_word_strategy(input_word1, input_word2)
        all_results = all_results.append(res)
    print()
    print()
    print()

--------------------
cares
--------------------
['doily', 'pouty', 'poind', 'gouty', 'noily']
[---- cares, doily ----]

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    4.4s
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed:   16.0s
[Parallel(n_jobs=5)]: Done 440 tasks      | elapsed:   34.8s
[Parallel(n_jobs=5)]: Done 790 tasks      | elapsed:  1.0min
[Parallel(n_jobs=5)]: Done 1240 tasks      | elapsed:  1.7min
[Parallel(n_jobs=5)]: Done 1790 tasks      | elapsed:  2.4min
[Parallel(n_jobs=5)]: Done 2440 tasks      | elapsed:  3.4min
[Parallel(n_jobs=5)]: Done 3190 tasks      | elapsed:  4.5min
[Parallel(n_jobs=5)]: Done 4040 tasks      | elapsed:  5.9min
[Parallel(n_jobs=5)]: Done 4990 tasks      | elapsed:  7.5min
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:  8.8min finished

    count     mean       std  min  25%  50%  75%   max  word1  word2
0  5757.0  4.42001  1.349492  1.0  3.0  4.0  5.0  13.0  cares  doily

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cares, pouty ----]

[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    3.9s
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed:   16.8s
[Parallel(n_jobs=5)]: Done 440 tasks      | elapsed:   36.8s
[Parallel(n_jobs=5)]: Done 790 tasks      | elapsed:  1.1min
[Parallel(n_jobs=5)]: Done 1240 tasks      | elapsed:  1.8min
[Parallel(n_jobs=5)]: Done 1790 tasks      | elapsed:  2.6min
[Parallel(n_jobs=5)]: Done 2440 tasks      | elapsed:  3.7min
[Parallel(n_jobs=5)]: Done 3190 tasks      | elapsed:  4.8min
[Parallel(n_jobs=5)]: Done 4040 tasks      | elapsed:  6.2min
[Parallel(n_jobs=5)]: Done 4990 tasks      | elapsed:  7.7min
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:  9.1min finished

    count      mean       std  min  25%  50%  75%   max  word1  word2
0  5757.0  4.374674  1.273891  1.0  3.0  4.0  5.0  12.0  cares  pouty

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

[---- cares, poind ----]

[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    3.8s
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed:   17.5s
[Parallel(n_jobs=5)]: Done 440 tasks      | elapsed:   37.5s
[Parallel(n_jobs=5)]: Done 790 tasks      | elapsed:  1.1min
[Parallel(n_jobs=5)]: Done 1240 tasks      | elapsed:  1.7min
[Parallel(n_jobs=5)]: Done 1790 tasks      | elapsed:  2.6min
[Parallel(n_jobs=5)]: Done 2440 tasks      | elapsed:  3.5min
[Parallel(n_jobs=5)]: Done 3190 tasks      | elapsed:  4.8min
[Parallel(n_jobs=5)]: Done 4040 tasks      | elapsed:  6.1min

KeyboardInterrupt:

In [39]:
all_results.to_csv('entropy_double_words.csv', index=False)

## Single-word Strategy

In [40]:
def sim_wordle_single(input_word, solution):
    feedback = ''
    wordset = words_5k.copy()
    tested_words = []
    n_iter = 1

    while feedback != 'GGGGG':

        # Check solution
        feedback = wordle(input_word, solution)
        tested_words.append(input_word)
        # print(f'[{n_iter}] Input: {input_word} | Feedback: {feedback}')

        # Filter wordset
        wordset = filter_wordset(input_word, feedback, wordset)
        wordset = wordset.loc[~wordset.word.isin(tested_words)]

        # Compute letter distribution of updated wordset
        pos_scores = compute_pos_letter_distribution(wordset)

        # Obtain scores
        scores = wordset.word.apply(compute_pos_score, pos_scores=pos_scores)
        scores = pd.DataFrame({'word': wordset.word, 'score': scores}).sort_values('score', ascending=False)
        # display(scores.head(10))

        # Set new input word
        if scores.shape[0] > 0:
            input_word = scores.word.iloc[0]
            n_iter += 1
    return n_iter

In [46]:
def single_word_strategy(input_word):
    results = Parallel(n_jobs=5, verbose=1)(delayed(sim_wordle_single)(input_word, s) for s in words_5k.word)
    performance = pd.Series(results)
    results = pd.DataFrame(performance.describe()).T
    results['word'] = input_word
    display(results)
    
    return results

    # performance.plot.hist()
    # plt.title(input_word)
    # plt.show()

In [47]:
top_singles = global_fl_scores.loc[global_fl_scores.word.apply(lambda x: len(x) == len(set(x)))].word.head(50)
print(top_singles.tolist())

['cares', 'bares', 'pares', 'tares', 'cores', 'bores', 'pores', 'mares', 'canes', 'dares', 'banes', 'tores', 'panes', 'fares', 'lares', 'bales', 'mores', 'cones', 'bones', 'pales', 'hares', 'gores', 'tales', 'pones', 'manes', 'fores', 'tones', 'wares', 'lores', 'coles', 'boles', 'fanes', 'poles', 'cates', 'males', 'lanes', 'nares', 'bates', 'dales', 'toles', 'rales', 'gales', 'pates', 'rones', 'vares', 'cames', 'kaies', 'kores', 'cotes', 'moles']

In [48]:
singles_results = pd.DataFrame()
for word in top_singles:
    print('--------------------')
    print(word)
    res = single_word_strategy(word)
    singles_results = singles_results.append(res)
    print('--------------------')
    print()
    print()
    print()

--------------------
cares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  65 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 665 tasks      | elapsed:    4.7s
[Parallel(n_jobs=5)]: Done 1665 tasks      | elapsed:   11.1s
[Parallel(n_jobs=5)]: Done 3065 tasks      | elapsed:   21.7s
[Parallel(n_jobs=5)]: Done 4865 tasks      | elapsed:   35.2s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.3s finished

    count     mean       std  min  25%  50%  75%   max   word
0  5757.0  4.42001  1.344849  1.0  4.0  4.0  5.0  13.0  cares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
bares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.5s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   26.1s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   45.7s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   45.8s finished

    count      mean      std  min  25%  50%  75%   max   word
0  5757.0  4.440334  1.32023  1.0  4.0  4.0  5.0  12.0  bares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
pares

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.8s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    4.6s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   11.6s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   22.7s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   36.3s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.8s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.382665  1.306289  1.0  4.0  4.0  5.0  12.0  pares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
tares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.3s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.6s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.360778  1.322919  1.0  3.0  4.0  5.0  12.0  tares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
cores

[Parallel(n_jobs=5)]: Done 130 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1330 tasks      | elapsed:    9.1s
[Parallel(n_jobs=5)]: Done 3330 tasks      | elapsed:   24.0s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.426264  1.340808  1.0  4.0  4.0  5.0  13.0  cores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
bores

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.4s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.4s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.447282  1.314064  1.0  4.0  4.0  5.0  12.0  bores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
pores

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.9s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.2s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   43.2s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.3s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.352614  1.284847  1.0  4.0  4.0  5.0  12.0  pores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
mares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.5s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.6s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.412194  1.313377  1.0  4.0  4.0  5.0  13.0  mares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
canes

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.1s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.8s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   41.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.5s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.420705  1.338935  1.0  4.0  4.0  5.0  12.0  canes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
dares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.8s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.2s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   42.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.6s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.429564  1.335664  1.0  4.0  4.0  5.0  12.0  dares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
banes

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:   10.8s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   28.6s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   47.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   47.4s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.469863  1.313453  1.0  4.0  4.0  5.0  12.0  banes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
tores

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.5s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.4s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.355046  1.318619  2.0  3.0  4.0  5.0  12.0  tores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
panes

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.8s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.0s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   12.7s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   23.8s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   38.3s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   45.2s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   45.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.408025  1.296582  1.0  4.0  4.0  5.0  11.0  panes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
fares

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.2s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   12.8s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   23.9s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   39.9s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   47.7s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   47.7s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.471079  1.328343  1.0  4.0  4.0  5.0  12.0  fares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
lares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.2s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.2s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.9s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.383012  1.337209  2.0  4.0  4.0  5.0  13.0  lares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
bales

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.1s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   25.8s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   44.6s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.7s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.395171  1.292787  1.0  4.0  4.0  5.0  13.0  bales

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
mores

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.5s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.9s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.5s finished

    count      mean      std  min  25%  50%  75%   max   word
0  5757.0  4.398993  1.30086  1.0  4.0  4.0  5.0  13.0  mores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
cones

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.4s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.6s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   43.0s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.1s finished

    count    mean       std  min  25%  50%  75%   max   word
0  5757.0  4.4247  1.333576  1.0  4.0  4.0  5.0  12.0  cones

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
bones

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   25.0s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.7s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.442244  1.319394  1.0  4.0  4.0  5.0  12.0  bones

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
pales

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.8s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.0s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   41.1s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.352788  1.287299  1.0  4.0  4.0  5.0  13.0  pales

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
hares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.2s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.3s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.6s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.3s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.464825  1.346122  1.0  4.0  4.0  5.0  12.0  hares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
gores

[Parallel(n_jobs=5)]: Done  90 tasks      | elapsed:    0.8s
[Parallel(n_jobs=5)]: Done 1290 tasks      | elapsed:    9.5s
[Parallel(n_jobs=5)]: Done 3290 tasks      | elapsed:   25.0s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.468473  1.343629  1.0  4.0  4.0  5.0  12.0  gores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
tales

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   22.8s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.0s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.338371  1.304617  1.0  3.0  4.0  5.0  13.0  tales

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
pones

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.3s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.4s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.392392  1.292289  1.0  4.0  4.0  5.0  12.0  pones

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
manes

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.2s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.7s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   45.8s finished

    count     mean       std  min  25%  50%  75%   max   word
0  5757.0  4.42609  1.302681  1.0  4.0  4.0  5.0  12.0  manes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
fores

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.6s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   14.0s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   26.4s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   42.9s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   49.9s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.475074  1.313827  1.0  4.0  4.0  5.0  12.0  fores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
tones

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.1s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.3s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.379538  1.338329  1.0  4.0  4.0  5.0  13.0  tones

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
wares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.1s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.4s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.9s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.0s finished

    count      mean      std  min  25%  50%  75%   max   word
0  5757.0  4.488449  1.33591  1.0  4.0  4.0  5.0  12.0  wares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
lores

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.0s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.6s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   41.7s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.8s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.382665  1.340163  1.0  4.0  4.0  5.0  13.0  lores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
coles

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.1s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.6s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   43.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.6s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.407157  1.323573  2.0  4.0  4.0  5.0  13.0  coles

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
boles

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.2s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.0s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   42.2s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.3s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.382491  1.279398  2.0  4.0  4.0  5.0  13.0  boles

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
fanes

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.1s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.2s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.9s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.5s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.488101  1.326773  2.0  4.0  4.0  5.0  12.0  fanes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
poles

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.3s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.0s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   42.7s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.8s finished

    count     mean       std  min  25%  50%  75%   max   word
0  5757.0  4.36929  1.287056  1.0  4.0  4.0  5.0  13.0  poles

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
cates

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.1s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.4s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.0s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.417405  1.324515  2.0  4.0  4.0  5.0  12.0  cates

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
males

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.1s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.3s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   24.2s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   42.2s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.4s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.362689  1.283529  1.0  4.0  4.0  5.0  13.0  males

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
lanes

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.6s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.0s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.2s finished

    count      mean      std  min  25%  50%  75%   max   word
0  5757.0  4.387528  1.32978  1.0  4.0  4.0  5.0  14.0  lanes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
nares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.8s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.4s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.8s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.415494  1.333545  1.0  4.0  4.0  5.0  12.0  nares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
bates

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.0s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   12.3s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   23.2s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   37.3s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.3s finished

    count      mean      std  min  25%  50%  75%   max   word
0  5757.0  4.445197  1.30921  1.0  4.0  4.0  5.0  12.0  bates

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
dales

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.9s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.8s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   42.2s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   42.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.401077  1.327066  1.0  4.0  4.0  5.0  13.0  dales

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
toles

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.0s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.1s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   46.0s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   46.1s finished

    count    mean      std  min  25%  50%  75%   max   word
0  5757.0  4.3177  1.27873  2.0  3.0  4.0  5.0  13.0  toles

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
rales

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    6.5s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   14.8s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   32.5s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   45.9s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   52.1s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   52.1s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.380059  1.341746  2.0  4.0  4.0  5.0  13.0  rales

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
gales

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.6s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.2s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   40.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   40.4s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.398645  1.312798  1.0  4.0  4.0  5.0  13.0  gales

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
pates

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   22.6s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   39.5s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   39.6s finished

    count     mean       std  min  25%  50%  75%   max   word
0  5757.0  4.40403  1.291996  1.0  4.0  4.0  5.0  11.0  pates

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
rones

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.4s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   22.1s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   39.0s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   39.1s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.389786  1.331406  2.0  4.0  4.0  5.0  12.0  rones

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
vares

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.1s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.0s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.5s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   41.4s finished

    count     mean       std  min  25%  50%  75%   max   word
0  5757.0  4.54108  1.350079  2.0  4.0  4.0  5.0  13.0  vares

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
cames

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    8.7s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   23.0s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   40.3s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   40.4s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.439639  1.297902  2.0  4.0  4.0  5.0  13.0  cames

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
kaies

[Parallel(n_jobs=5)]: Done 150 tasks      | elapsed:    1.0s
[Parallel(n_jobs=5)]: Done 1350 tasks      | elapsed:    9.2s
[Parallel(n_jobs=5)]: Done 3350 tasks      | elapsed:   25.4s
[Parallel(n_jobs=5)]: Done 5748 out of 5757 | elapsed:   44.4s remaining:    0.1s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.4s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.583464  1.433561  2.0  4.0  4.0  5.0  13.0  kaies

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
kores

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.8s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.5s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   13.6s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   24.0s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   37.4s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   44.3s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.495397  1.339589  2.0  4.0  4.0  5.0  13.0  kores

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
cotes

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.9s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.3s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   12.8s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   23.9s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   38.2s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   45.3s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.426264  1.331708  1.0  4.0  4.0  5.0  12.0  cotes

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.

--------------------



--------------------
moles

[Parallel(n_jobs=5)]: Done 110 tasks      | elapsed:    0.8s
[Parallel(n_jobs=5)]: Done 710 tasks      | elapsed:    5.9s
[Parallel(n_jobs=5)]: Done 1710 tasks      | elapsed:   13.2s
[Parallel(n_jobs=5)]: Done 3110 tasks      | elapsed:   23.5s
[Parallel(n_jobs=5)]: Done 4910 tasks      | elapsed:   36.9s
[Parallel(n_jobs=5)]: Done 5757 out of 5757 | elapsed:   43.2s finished

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.373458  1.280708  1.0  4.0  4.0  5.0  13.0  moles

--------------------

In [33]:
all_results.sort_values('mean')

    count      mean       std  min  25%  50%  75%   max  word1  word2
0  5757.0  4.131839  1.118184  1.0  3.0  4.0  5.0  11.0  pares  doilt
0  5757.0  4.157721  1.144281  1.0  3.0  4.0  5.0  11.0  dares  point
0  5757.0  4.161195  1.134188  1.0  3.0  4.0  5.0  11.0  tares  poind
0  5757.0  4.162585  1.158392  1.0  3.0  4.0  5.0  11.0  cores  paint
0  5757.0  4.209484  1.165684  1.0  3.0  4.0  5.0  12.0  tares  could
0  5757.0  4.220254  1.157710  1.0  3.0  4.0  5.0  11.0  pores  canid
0  5757.0  4.222512  1.159752  1.0  3.0  4.0  5.0  11.0  cares  poind
0  5757.0  4.228591  1.147040  1.0  3.0  4.0  5.0  12.0  pares  could
0  5757.0  4.230676  1.185069  1.0  3.0  4.0  5.0  11.0  tares  piony
0  5757.0  4.230849  1.181585  1.0  3.0  4.0  5.0  12.0  pores  laity
0  5757.0  4.233802  1.134868  1.0  3.0  4.0  5.0  11.0  mares  poind
0  5757.0  4.254125  1.202789  1.0  3.0  4.0  5.0  12.0  tares  doily
0  5757.0  4.258989  1.148075  1.0  3.0  4.0  5.0  10.0  bares  poind
0  5757.0  4.268369  1.232266  1.0  3.0  4.0  5.0  13.0  tares  noily
0  5757.0  4.275143  1.192996  1.0  3.0  4.0  5.0  11.0  bores  canid
0  5757.0  4.275838  1.191962  1.0  3.0  4.0  5.0  12.0  pares  doily
0  5757.0  4.275838  1.191962  1.0  3.0  4.0  5.0  12.0  pores  daily
0  5757.0  4.278617  1.200467  1.0  3.0  4.0  5.0  12.0  bores  laity
0  5757.0  4.280181  1.170718  1.0  3.0  4.0  5.0  11.0  dares  pouty
0  5757.0  4.280875  1.234974  1.0  3.0  4.0  5.0  12.0  cores  laity
0  5757.0  4.289561  1.162172  1.0  3.0  4.0  5.0  11.0  mares  pouty
0  5757.0  4.298072  1.205624  1.0  3.0  4.0  5.0  11.0  cares  pouty
0  5757.0  4.307278  1.213732  1.0  3.0  4.0  5.0  11.0  dares  piony
0  5757.0  4.313010  1.238144  1.0  3.0  4.0  5.0  13.0  cares  doily
0  5757.0  4.313010  1.238144  1.0  3.0  4.0  5.0  13.0  cores  daily
0  5757.0  4.313531  1.225388  1.0  3.0  4.0  5.0  12.0  mares  doily
0  5757.0  4.315442  1.233167  1.0  3.0  4.0  5.0  13.0  pares  noily
0  5757.0  4.323259  1.185051  1.0  4.0  4.0  5.0  11.0  bares  pouty
0  5757.0  4.334549  1.226705  1.0  3.0  4.0  5.0  12.0  bares  doily
0  5757.0  4.334549  1.226705  1.0  3.0  4.0  5.0  12.0  bores  daily
0  5757.0  4.335765  1.228001  1.0  3.0  4.0  5.0  12.0  pores  haily
0  5757.0  4.335939  1.260694  1.0  3.0  4.0  5.0  13.0  dares  noily
0  5757.0  4.338544  1.234717  1.0  3.0  4.0  5.0  12.0  pores  gaily
0  5757.0  4.340976  1.231934  1.0  4.0  4.0  5.0  12.0  canes  pouty
0  5757.0  4.345840  1.246707  1.0  3.0  4.0  5.0  13.0  mares  noily
0  5757.0  4.345840  1.281614  1.0  3.0  4.0  5.0  13.0  canes  roily
0  5757.0  4.346708  1.255701  1.0  4.0  4.0  5.0  13.0  canes  doily
0  5757.0  4.349661  1.212422  1.0  4.0  4.0  5.0  11.0  pares  gouty
0  5757.0  4.352614  1.279970  1.0  3.0  4.0  5.0  13.0  cares  noily
0  5757.0  4.367379  1.257223  1.0  4.0  4.0  5.0  13.0  bares  noily
0  5757.0  4.370679  1.233154  1.0  4.0  4.0  5.0  12.0  dares  gouty
0  5757.0  4.372590  1.291295  1.0  4.0  4.0  5.0  13.0  canes  loury
0  5757.0  4.374153  1.219063  1.0  4.0  4.0  5.0  11.0  mares  gouty
0  5757.0  4.379191  1.270231  1.0  4.0  4.0  5.0  12.0  cores  haily
0  5757.0  4.385270  1.286420  1.0  4.0  4.0  5.0  13.0  cores  gaily
0  5757.0  4.391697  1.256099  1.0  4.0  4.0  5.0  12.0  bores  haily
0  5757.0  4.397603  1.268976  1.0  4.0  4.0  5.0  12.0  cares  gouty
0  5757.0  4.401945  1.272600  1.0  4.0  4.0  5.0  12.0  bores  gaily
0  5757.0  4.411325  1.251127  1.0  4.0  4.0  5.0  12.0  bares  gouty
0  5757.0  4.426958  1.281079  1.0  4.0  4.0  5.0  12.0  canes  gouty

In [49]:
singles_results.sort_values('mean')

    count      mean       std  min  25%  50%  75%   max   word
0  5757.0  4.317700  1.278730  2.0  3.0  4.0  5.0  13.0  toles
0  5757.0  4.338371  1.304617  1.0  3.0  4.0  5.0  13.0  tales
0  5757.0  4.352614  1.284847  1.0  4.0  4.0  5.0  12.0  pores
0  5757.0  4.352788  1.287299  1.0  4.0  4.0  5.0  13.0  pales
0  5757.0  4.355046  1.318619  2.0  3.0  4.0  5.0  12.0  tores
0  5757.0  4.360778  1.322919  1.0  3.0  4.0  5.0  12.0  tares
0  5757.0  4.362689  1.283529  1.0  4.0  4.0  5.0  13.0  males
0  5757.0  4.369290  1.287056  1.0  4.0  4.0  5.0  13.0  poles
0  5757.0  4.373458  1.280708  1.0  4.0  4.0  5.0  13.0  moles
0  5757.0  4.379538  1.338329  1.0  4.0  4.0  5.0  13.0  tones
0  5757.0  4.380059  1.341746  2.0  4.0  4.0  5.0  13.0  rales
0  5757.0  4.382491  1.279398  2.0  4.0  4.0  5.0  13.0  boles
0  5757.0  4.382665  1.340163  1.0  4.0  4.0  5.0  13.0  lores
0  5757.0  4.382665  1.306289  1.0  4.0  4.0  5.0  12.0  pares
0  5757.0  4.383012  1.337209  2.0  4.0  4.0  5.0  13.0  lares
0  5757.0  4.387528  1.329780  1.0  4.0  4.0  5.0  14.0  lanes
0  5757.0  4.389786  1.331406  2.0  4.0  4.0  5.0  12.0  rones
0  5757.0  4.392392  1.292289  1.0  4.0  4.0  5.0  12.0  pones
0  5757.0  4.395171  1.292787  1.0  4.0  4.0  5.0  13.0  bales
0  5757.0  4.398645  1.312798  1.0  4.0  4.0  5.0  13.0  gales
0  5757.0  4.398993  1.300860  1.0  4.0  4.0  5.0  13.0  mores
0  5757.0  4.401077  1.327066  1.0  4.0  4.0  5.0  13.0  dales
0  5757.0  4.404030  1.291996  1.0  4.0  4.0  5.0  11.0  pates
0  5757.0  4.407157  1.323573  2.0  4.0  4.0  5.0  13.0  coles
0  5757.0  4.408025  1.296582  1.0  4.0  4.0  5.0  11.0  panes
0  5757.0  4.412194  1.313377  1.0  4.0  4.0  5.0  13.0  mares
0  5757.0  4.415494  1.333545  1.0  4.0  4.0  5.0  12.0  nares
0  5757.0  4.417405  1.324515  2.0  4.0  4.0  5.0  12.0  cates
0  5757.0  4.420010  1.344849  1.0  4.0  4.0  5.0  13.0  cares
0  5757.0  4.420705  1.338935  1.0  4.0  4.0  5.0  12.0  canes
0  5757.0  4.424700  1.333576  1.0  4.0  4.0  5.0  12.0  cones
0  5757.0  4.426090  1.302681  1.0  4.0  4.0  5.0  12.0  manes
0  5757.0  4.426264  1.331708  1.0  4.0  4.0  5.0  12.0  cotes
0  5757.0  4.426264  1.340808  1.0  4.0  4.0  5.0  13.0  cores
0  5757.0  4.429564  1.335664  1.0  4.0  4.0  5.0  12.0  dares
0  5757.0  4.439639  1.297902  2.0  4.0  4.0  5.0  13.0  cames
0  5757.0  4.440334  1.320230  1.0  4.0  4.0  5.0  12.0  bares
0  5757.0  4.442244  1.319394  1.0  4.0  4.0  5.0  12.0  bones
0  5757.0  4.445197  1.309210  1.0  4.0  4.0  5.0  12.0  bates
0  5757.0  4.447282  1.314064  1.0  4.0  4.0  5.0  12.0  bores
0  5757.0  4.464825  1.346122  1.0  4.0  4.0  5.0  12.0  hares
0  5757.0  4.468473  1.343629  1.0  4.0  4.0  5.0  12.0  gores
0  5757.0  4.469863  1.313453  1.0  4.0  4.0  5.0  12.0  banes
0  5757.0  4.471079  1.328343  1.0  4.0  4.0  5.0  12.0  fares
0  5757.0  4.475074  1.313827  1.0  4.0  4.0  5.0  12.0  fores
0  5757.0  4.488101  1.326773  2.0  4.0  4.0  5.0  12.0  fanes
0  5757.0  4.488449  1.335910  1.0  4.0  4.0  5.0  12.0  wares
0  5757.0  4.495397  1.339589  2.0  4.0  4.0  5.0  13.0  kores
0  5757.0  4.541080  1.350079  2.0  4.0  4.0  5.0  13.0  vares
0  5757.0  4.583464  1.433561  2.0  4.0  4.0  5.0  13.0  kaies

In [50]:
singles_results.to_csv('single_words.csv', index=False)

## Doubles Search

In [80]:
doubles_search = pd.DataFrame()
for input_word1 in ['toles', 'tales', 'pores', 'pales', 'tores', 'tares', 'pares']:
    print('--------------------')
    print(input_word1)
    print('--------------------')
    all_word2 = find_second_pos(input_word1)
    print(all_word2.word.iloc[:10].tolist())

    for input_word2 in all_word2.word.iloc[:10]:
        print(f'[---- {input_word1}, {input_word2} ----]')
        res = double_word_strategy(input_word1, input_word2)
        doubles_search = all_results.append(res)
    print()
    print()
    print()

--------------------
toles
--------------------
['rainy', 'dairy', 'fairy', 'marid', 'canid', 'hairy', 'caird', 'vairy', 'ranid', 'cairn']
[---- toles, rainy ----]

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    3.0s
[Parallel(n_jobs=5)]: Done 190 tasks      | elapsed:   14.7s
[Parallel(n_jobs=5)]: Done 440 tasks      | elapsed:   33.0s

KeyboardInterrupt: